
@{
    ViewBag.Title = "resetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}



<div class="col-lg-9 col-md-12">
    <div class="dashboard-wraper">
        <h4>Change Your Password</h4>
        <div class="submit-section">
            @using (Html.BeginForm())
            {
            <div class="row">
                @model DDari.Models.ResetPassword

                <div class="form-group col-lg-12 col-md-6">
                    <label>New Password</label>
                    @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "New Password" })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-lg-12 col-md-6">
                    <label>Confirm Password</label>
                    @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <button class="btn btn-theme-light-2 rounded" type="submit">Send a request</button>
                </div>

                @*  <div class="form-group col-md-6">
            <label>New Password</label>
            <input type="password" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label>Confirm password</label>
            <input type="password" class="form-control">
        </div>

        <div class="form-group col-lg-12 col-md-12">
            <button class="btn btn-theme-light-2 rounded" type="submit">Save Changes</button>
        </div>*@

            </div>
            }
        </div>

    </div>
</div>