@model IEnumerable<DDari.Models.Orders>

@{
    ViewBag.Title = "myOrders";
    Layout = "~/Views/Shared/dashboardCustomer.cshtml";
}
<div class="col-lg-9 col-md-12">
    <div class="dashboard-wraper">



        <!-- Bookmark Property -->
        <div class="form-submit  ">


            <h4 class="d-inline-block">My Orders</h4><br />
    
            <div class="col-lg-2 col-md-4 col-sm-6 float-end">

              
            </div>

        </div>

        <table class="property-table-wrap responsive-table bkmark">

            <tbody>
                @foreach (var item in Model)
                {
                    <!-- Item #1 -->
                    <tr>
                        <td class="property-container">
                   
                            <div class="title">
                                <h4><a href="#">@item.id_o</a></h4>
                                <span>@item.datecommande </span>
                                <span class="table-property-price">@item.somme</span>
                            </div>
                        </td>
                        <td class="action">
                            <a href="@Url.Action("orderDetail","Orders",new { id=item.id_o})" class="delete"><i class="ti-eye"></i> View</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>



    </div>
</div>


