
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/dashboardCustomer.cshtml";
}


<div class="col-lg-9 col-md-12">
    <div class="dashboard-wraper">



        <!-- Bookmark Property -->
        <div class="form-submit  ">


            <h4 class="d-inline-block">Order</h4><br />
         
            <div class="col-lg-2 col-md-4 col-sm-6 float-end">

             
            </div>

        </div>
        <section>
            <p>
                Your Order have been submitted.
           
            </p>
        </section>
  </div>
</div>
