@model DDari.Models.Subscription

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}






        <asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
            Delete Confirmation:  @Html.Encode(Model.title) 
        </asp:Content>

        <asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

            <h2>
                Delete Confirmation
            </h2>

            <div>
                <p>
                    Please confirm you want to cancel the subscription titled:
                    <i> @Html.Encode(Model.title)  </i>
                </p>
            </div>

            @using (Html.BeginForm()) {  
                <input hidden name="id" value=@Model.id />
            <input  name="confirmButton" type="submit" value="Delete" />
             } 

        </asp:Content>
