@model DDari.Models.Subscribe

@{
    ViewBag.Title = "Index";
}

<div class="white_box_tittle list_header fa-pull-left ">
    <div class="box_right d-flex lms_block ">

        <div type="button " class="btn  ">
            @Html.ActionLink("Add a subscribe", "Create", null, new { @class = "btn_1" })
        </div>
    </div>
</div>

