
@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Staf For Property</h2>
    <img src="~/assets/img/dream.jpg" style="width:1400px;height:650px;" />
    <h3>
        @Html.ActionLink("Go to Buy Property", "Index", "Buy")<br />
        @Html.ActionLink("Go to Rent Property", "Index", "Rent")<br />
        @Html.ActionLink("Go to Contract Buy Property", "Index", "ContractBuy")<br />
        @Html.ActionLink("Go to Contract Rent Property", "Index", "ContractRent")
    </h3>
</center>

